.container {
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;

    .title {
        font-size: 35px;
        margin: 0 0 30px 0;
        color: rgba(169, 169, 253, 0.794);
    }
}